 /* Linking GoogleFonts */
 @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins&family=Press+Start+2P&display=swap');
 *{
    font-family: "Press Start 2P";
    margin: 0px;
    padding: 0px;
 }
 body{
    color: white;
    background-color: black;
 }
 /* Styling to Firstpart */
 header div{
    display: flex;
    align-items: center;
    justify-content:space-between;
   
 }
 .again{
    font-size: 40px;
    padding: 10px;
    margin: 20px;
}
header div p{
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
}
header{
     border-bottom: 10px solid white;
}
.number{
    background-color: orange;
    font-size: 80px;
    width: 120px;
    padding: 20px;
    position: relative;
    left: 40%;
    top: 60px;
    justify-content: center;
}
/* Styling to Secondpart */
main{
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
}
.guess{
    padding: 20px;
    width: 150px;
    font-size: 30px;
   border: 2px solid white;
    margin-left: -20px;
    text-align: center;
}
.checkbtn{
    display: block;
    padding: 18px;
    font-size: 20px;
    margin-top: 5px;
}
.message{
    font-size: 30px;
}
.ls{
    font-size: 30px;
margin-top: 30px;
}
.hs{
    font-size: 30px;
margin-top: 30px;
}
/* Adding Mediaquieries */
@media only screen and (min-width:700px) and (max-width:850px){
    header div p{
        font-size: 23px;
    }
    header h1{
        font-size: 35px;
    }
    .again{
        font-size: 32px;
    }
    
}
@media only screen and (min-width:605px) and (max-width:700px){
    header div p{
        font-size: 20px;
    }
    header h1{
        font-size: 30px;
    }
    .again{
        font-size: 30px;
    padding: 10px;
    margin: 20px;
    }
    .message{
        font-size: 25px;
    }
    .ls{
        font-size: 25px;
  
    }
    .hs{
        font-size: 25px;
   
    }
    .guess{
        padding: 10px;
        width: 130px;
        font-size: 30px;
       border: 2px solid white;
        text-align: center;
        margin-right: 15px;
    }
    .checkbtn{
        display: block;
        padding: 10px;
        font-size: 20px;
        margin-top: 5px;
        margin-left: -14px;
    }
}
@media only screen and (min-width:520px) and (max-width:605px){
    header div p{
        font-size: 17px;
    }
    header h1{
        font-size: 25px;
    }
    .again{
        font-size: 25px;
    padding: 10px;
    margin: 20px;
    }
    .guess{
        padding: 8px;
        width: 130px;
        font-size: 30px;
       border: 2px solid white;
        text-align: center;
    }
    .checkbtn{
        display: block;
        padding: 8px;
        font-size: 20px;
        margin-top: 5px;
        margin-left: -14px;
    }
    .message{
        font-size: 20px;
    }
    .ls{
        font-size: 20px;
  
    }
    .hs{
        font-size: 20px;
   
    }
}
@media only screen and (min-width:502px) and (max-width:520px){
    header div p{
        font-size: 17px;
    }
    header h1{
        font-size: 25px;
    }
    .again{
        font-size: 22px;
    padding: 10px;
    margin: 20px;
    }
    .guess{
        padding: 6px;
        width: 130px;
        font-size: 30px;
       border: 2px solid white;
        text-align: center;
        margin-left: 3px;
    }
    .checkbtn{
        display: block;
        padding: 6px;
        font-size: 16px;
        margin-top: 5px;
        margin-left: -14px;
        margin-left: 3px;
    }
    .message{
        font-size: 18px;
    }
    .ls{
        font-size: 18px;
  
    }
    .hs{
        font-size: 18px;
   
    }
}
@media only screen and (min-width:466px) and (max-width:502px){
    header div p{
        font-size: 15px;
    }
    header h1{
        font-size: 25px;
    }
    .again{
        font-size: 22px;
    padding: 10px;
    margin: 20px;
    }
    .guess{
        padding: 6px;
        width: 130px;
        font-size: 30px;
       border: 2px solid white;
        text-align: center;
        margin-left: 3px;
    }
    .checkbtn{
        display: block;
        padding: 6px;
        font-size: 16px;
        margin-top: 5px;
        margin-left: -14px;
        margin-left: 3px;
    }
    .message{
        font-size: 18px;
    }
    .ls{
        font-size: 18px;
  
    }
    .hs{
        font-size: 18px;
   
    }
    .number{
        background-color: orange;
        font-size: 30px;
        width: 80px;
        padding: 27px;
        position: relative;
        left: 33%;
        top: 30px;
        justify-content: center;
    }
}
@media only screen and (min-width:420px) and (max-width:466px){
    header div p{
        font-size: 13px;
    }
    header h1{
        font-size: 20px;
    }
    .again{
        font-size: 20px;
    padding: 10px;
    margin: 20px;
    }
    .guess{
        padding: 6px;
        width: 130px;
        font-size: 20px;
       border: 2px solid white;
        text-align: center;
        margin-left: 3px;
    }
    .checkbtn{
        display: block;
        padding: 6px;
        font-size: 16px;
        margin-top: 5px;
        margin-left: -14px;
        margin-left: 3px;
    }
    .message{
        font-size: 15px;
    }
    .ls{
        font-size: 15px;
  
    }
    .hs{
        font-size: 15px;
   
    }
    .number{
        background-color: orange;
        font-size: 30px;
        width: 80px;
        padding: 23px;
        position: relative;
        left: 35%;
        top: 30px;
        justify-content: center;
    }
}
@media only screen and (min-width:365px) and (max-width:420px){
    header div p{
        font-size: 10px;
    }
    header h1{
        font-size: 20px;
    }
    .again{
        font-size: 20px;
    padding: 10px;
    margin: 20px;
    }
    .guess{
        padding: 9px;
        width: 100px;
        font-size: 10px;
       border: 2px solid white;
        text-align: center;
        margin-left: 3px;
    }
    .checkbtn{
        display: block;
        padding: 6px;
        font-size: 14px;
        margin-top: 5px;
        margin-left: -14px;
        margin-left: 3px;
    }
    .message{
        font-size: 12px;
    }
    .ls{
        font-size: 12px;
  
    }
    .hs{
        font-size: 12px;
   
    }
    .number{
        background-color: orange;
        font-size: 28px;
        width: 80px;
        padding: 18px;
        position: relative;
        left: 35%;
        top: 30px;
        justify-content: center;
    }
    main{
        position: absolute;
        top: 150px;
    }
    .right{
        margin-left: 25px;
    }
}
@media only screen and (min-width:351px) and (max-width:365px){
    header div p{
        font-size: 10px;
    }
    header h1{
        font-size: 18px;
    }
    .again{
        font-size: 18px;
    padding: 10px;
    margin: 20px;
    }
    .guess{
        padding: 9px;
        width: 100px;
        font-size: 10px;
       border: 2px solid white;
        text-align: center;
        margin-left: 3px;
    }
    .checkbtn{
        display: block;
        padding: 6px;
        font-size: 14px;
        margin-top: 5px;
        margin-left: -14px;
        margin-left: 3px;
    }
    .message{
        font-size: 12px;
    }
    .ls{
        font-size: 12px;
  
    }
    .hs{
        font-size: 12px;
   
    }
    .number{
        background-color: orange;
        font-size: 25px;
        width: 80px;
        padding: 14px;
        position: relative;
        left: 35%;
        top: 30px;
        justify-content: center;
    }
    main{
        position: absolute;
        top: 100px;
    }
   
}
@media only screen and (min-width:100px) and (max-width:355px){
    header div p{
        font-size: 10px;
    }
    header h1{
        font-size: 14px;
    }
    .again{
        font-size: 10px;
    padding: 10px;
    margin: 20px;
    }
    .guess{
        padding: 9px;
        width: 80px;
        font-size: 10px;
       border: 2px solid white;
        text-align: center;
        margin-left: 3px;
    }
    .checkbtn{
        display: block;
        padding: 6px;
        font-size: 12px;
        margin-top: 5px;
        margin-left: -14px;
        margin-left: 3px;
    }
    .message{
        font-size: 9px;
    }
    .ls{
        font-size: 9px;
  
    }
    .hs{
        font-size: 9px;
   
    }
    .number{
        background-color: orange;
        font-size: 20px;
        height: 30px;
        width: 80px;
        padding: 10px;
        position: relative;
        left: 35%;
        top: 20px;
        justify-content: center;
    }
    main{
        position: absolute;
        top: 100px;
    }
    .right{
        margin-left: 20px;
    }
}